<h1 class="text-center text-danger">Delete Employee</h1>
<br />

<div class="row">
    <div class="col-md-3 col-md-offset-1">
        <h3 class="text-danger">Select Employee</h3>
        <hr />
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                {{selectedItem}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="a in emps">
                    <a ng-click="dropboxitemselected(a)">{{a.Id}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-7">
        <form ng-show="isDeleteItemVisible">
            <div class="form-group">
                <label for="inputEmail">Name</label>
                <input type="text" ng-disabled="true" ng-model="name" class="form-control input-lg" placeholder="Employee Name" />
            </div>

            <div class="form-group">
                <label for="inputPassword">Salary</label>
                <input type="number" ng-disabled="true" ng-model="sal" class="form-control input-lg" placeholder="Employee Salary" />
            </div>

            <div class="form-group">
                <label for="inputPassword">Age</label>
                <input type="number" ng-disabled="true" ng-model="age" class="form-control input-lg" placeholder="Employee Age" />
            </div>

            <button ng-click="DeleteEmp()" class="btn btn-danger form-control input-lg">Delete</button>
        </form>
    </div>
</div>